.kotak {
    text-align: center;
    border: solid black;
    width : 250px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

.inputteks{
    border-radius: 25px;
    height:25px;
}

.tombol{
    width: 125px;
    height: 40px;
    background-color: burlywood;
    border-radius: 25px;
}